/* Widget Icon Image Mapping */
#CampaignTable {background-image: url('../../images/Loki1.jpg');}
#CampaignLine {background: url('../../images/Loki2.jpg');}
#CampaignPie {background: url('../../images/BlackWidow.jpg');}
#CampaignBar {background: url('../../images/NickFury.jpg');}
#CampaignChange {background: url('../../images/CaptainAmerica.jpg');}
#Image {background: url('../../images/Hulk.jpg');}
#Heading {background: url('../../images/IronMan.jpg');}
#Comment {background: url('../../images/Thor.jpg');}

/* Left Nav Bar Styling */
.left_nav{position: fixed; z-index: 10000; height: 500px; width: 20px; background-color: #DDD;}
.left_nav:hover{width:150px; background-color: white;}
/*
 * Holder Row consist of Holder Icon of different sizes
 * E.g. a Holder Row can have 1 size2of3 + 1 size1of3 Holder Icons to make up a row
 */
.widgetHolderRow{height: 20px; margin-bottom: 5px;}
.widgetElementIcons {height: 56px; width: 67px; float: left; display: none; cursor: move;}
.widgetHolderIcons {height: 20px; background-color: #DDD; margin-right: 4px; float: left; display: none; cursor: move;}
.size2of3{width:64.2%;}
.size1of3{width:30.5%;}
.size1of2{width:47.5%;}
.size1of1{width:97%;}

/* 
 * Similar to the Holder Row/Holder Icon Concept,
 * contentRow can consist of multiple widgetHolder per row.
 */
#contentSortable{border-color: black; border-style: solid; min-width: 800px; min-height: 600px; padding: 20px; margin-left: 150px; float: left;}
#contentSortable .contentRow{ width: 98.5%; margin: 10px; float: left;}
.widgetHolder{background-color:#DDD;}

/* contentRow close/remove button Styling */
.contentRow:hover .uiCloseButton{height: 15px; width: 15px; display: inline-block;}
.close{width: 2%; padding-left: 5px; float: right;}
.uiCloseButton {background-image:url(../../images/fb_close.png);}
.uiCloseButton:hover{background-position: left 30px; }

/* Misc. Fast Styling Classes */
.h60{height:60px;}
.mrm{margin-right:20px;}
.mrs{margin-right:2px;}
.flt_left{float: left;}